extends layout

block content
	.container
		h1= title
		.well
			h3= "These are all the registered students. Add or edit."
			a(href="/student/new")!= "Add New Student"
		#students
			- each student in students
				div.student
					dl.name.row
						div.col-md-5
							dt.text-primary= student.name
							dd= " @ = " + student.email
							dd= "Q1 = " + student.answer1
							dd= "Q2 = " + student.answer2
							dd= "Q3 = " + student.answer3
							dd= "Q4 = " + student.answer4
						div.col-md-5
							small
								em= "Created on " + student.created_at
							form(method="get", action="/student/:id/spiral")
								input(name="_id", type="hidden", value=student._id.toHexString()) 
								input(id="studentLink", value="Student Link", type="submit").btn.btn-secondary.btn-link
							form(method="get", action="/student/:id/edit")
								input(name="_id", type="hidden", value=student._id.toHexString()) 
								input(id="edit", value="Edit", type="submit").btn.btn-secondary.btn-link
							form(method="post", action="/student/:id/delete")
								input(name="_id", type="hidden", value=student._id.toHexString()) 
								input(id="delete", value="Delete", type="submit").btn.btn-warning.btn-link
			a(href="/student/new")!= "Add New Student"